leads_ikasa.json
{
  "name": "leads_ikasa",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        -32
      ],
      "id": "aa7bdc2b-32fa-4d5b-a8e3-cd07b16a332f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "companies",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        16,
        -32
      ],
      "id": "b9e1f563-a3d2-457e-a5a4-5de38c8d4cfa",
      "name": "get_rows_db",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "KmbxoKBLNEK7W9ao",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst unprocessed_companies = $input.all().filter(i => !i.json.dados.crmStatus.saved || !i.json.dados.crmStatus.addedFunnel);\n\nreturn {\n  \"count\": unprocessed_companies.length,\n  \"companies\": unprocessed_companies.map(i => i.json.dados)\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        80
      ],
      "id": "0ca6ead9-bb13-4a3f-8b99-4e81a55b497f",
      "name": "return_items_no_process",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3a11af38-5637-44b0-b95d-5cbd8e849031",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        -32
      ],
      "id": "ea49af6c-4b83-4035-a13b-d0c05fbf1d9f",
      "name": "db_is_empty"
    },
    {
      "parameters": {
        "url": "https://api.cnpja.com/office",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"founded.gte\": \"{{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}\",\n  \"address.state.in\": \"MA\",\n  \"founded.lte\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"limit\": 20\n}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"User-Agent\": \"Ikasa-Leads-Automation/1.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        -240
      ],
      "id": "4b717558-2d81-45d3-b317-d5fde3de678e",
      "name": "get_business_api_cnpja",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RAztmHkE0JM7fJDT",
          "name": "Header Auth CNPJA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const records = $input.first().json.records;\n\nreturn records.map(item => ({\n  name: (item.company?.members?.[0]?.person?.name ?? item.company.name)?.replace(/[0-9.\\-\\/]+/g, '').trim(),\n  email: item.emails?.[0]?.address ?? '',\n  cellphone: (item.phones?.[0]?.area ?? '') + '9' + (item.phones?.[0]?.number ?? ''),\n  isLead: 1,\n  crmStatus: {\n    saved: false,\n    addedFunnel: false\n  },\n  business: {\n    name: (item.company?.name ?? '').replace(/[^a-zA-Z0-9\\s]/g, ''),\n    document: item.taxId ?? '',\n    initialDateRecurrence: item.founded ? new Date(item.founded).toLocaleDateString('pt-BR').replace(/\\//g, '\\/') : '',\n    taxRegime: 'SIMPLES NACIONAL',\n    address: {\n      zipCode: item.address?.zip ?? '',\n      street: item.address?.street ?? '',\n      number: item.address?.number === 'S/N' ? item.address?.number : '0' + (item.address?.number ?? '0'),\n      district: item.address?.district ?? '',\n      city: item.address?.city ?? '',\n      uf: item.address?.state ?? ''\n    }\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -240
      ],
      "id": "39acf52a-6ccc-47f7-95cb-af022a866921",
      "name": "format_response_cnpja",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jaGaWxvlYczaoqhu",
          "mode": "list",
          "cachedResultUrl": "/workflow/jaGaWxvlYczaoqhu",
          "cachedResultName": "execute_unprocessed_companies"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "count": "={{ $json.count }}",
            "companies": "={{ $json.companies }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "count",
              "displayName": "count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "companies",
              "displayName": "companies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        784,
        80
      ],
      "id": "94f0078d-3120-45df-af3f-5407d644db1d",
      "name": "execute_unprocessed",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.4c.tec.br/api/v1/customers/store",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n    \"Content-Type\": \"application/json\",\n    \"User-Agent\": \"Ikasa-Leads-Automation/1.0\",\n    \"X-User-Uuid\": \"4fafa546-b286-49c8-9115-0634c9c9de9d\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.dados.name }}\",\n  \"email\": \"{{ $json.dados.email }}\",\n  \"cellphone\": \"{{ $json.dados.cellphone }}\",\n  \"isLead\": 1,\n  \"business\": {\n    \"name\": \"{{ $json.dados.business.name }}\",\n    \"document\": \"{{ $json.dados.business.document }}\",\n    \"initialDateRecurrence\": \"{{ $json.dados.business.initialDateRecurrence }}\",\n    \"taxRegime\": \"SIMPLES NACIONAL\",\n    \"address\": {\n      \"zipCode\": \"{{ $json.dados.business.address.zipCode }}\",\n      \"street\": \"{{ $json.dados.business.address.street }}\",\n      \"number\": \"{{ $json.dados.business.address.number }}\",\n      \"district\": \"{{ $json.dados.business.address.district }}\",\n      \"city\": \"{{ $json.dados.business.address.city }}\",\n      \"uf\": \"{{ $json.dados.business.address.uf }}\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        -240
      ],
      "id": "94fd0127-a4c1-47cc-80e7-f32e4b105d9b",
      "name": "save_customer_4c",
      "credentials": {
        "httpBearerAuth": {
          "id": "Z9UsIgI0GgvHAnOX",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xicfmqxtokulltxjusty.supabase.co/rest/v1/rpc/update_crm_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apiKey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpY2ZtcXh0b2t1bGx0eGp1c3R5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMyNTQzMzMsImV4cCI6MjA3ODgzMDMzM30.g-qYCypHUN7JIzwDefM76hS4QxJ-stoknHlmiAkz0kA\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_document\": {{ $json.data.business.document }},\n  \"p_saved\": true,\n  \"p_added_funnel\": false,\n  \"p_uuid_business\": \"{{ $json.data.uuid }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        -240
      ],
      "id": "c3658d19-bd20-4645-ba15-4dc21d7482fc",
      "name": "add_db_business_uuid",
      "credentials": {
        "httpBearerAuth": {
          "id": "sE3MG95WRusfmDcb",
          "name": "Bearer Auth Supabase"
        }
      }
    },
    {
      "parameters": {
        "tableId": "companies",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "dados",
              "fieldValue": "={{ $json }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        -240
      ],
      "id": "b80d2ee3-e23c-4f3b-b576-63ef2b803dc1",
      "name": "save_items_db",
      "credentials": {
        "supabaseApi": {
          "id": "KmbxoKBLNEK7W9ao",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst companies = $input.all().filter(i => !i.json.crmStatus.saved || !i.json.crmStatus.addedFunnel);\n\nreturn {\n  \"count\": companies.length,\n  \"companies\": companies.map(i => i.json)\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -16
      ],
      "id": "4af671ef-8052-4b73-ad31-43e0d1aa3e00",
      "name": "format_items",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get_rows_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_rows_db": {
      "main": [
        [
          {
            "node": "db_is_empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return_items_no_process": {
      "main": [
        [
          {
            "node": "execute_unprocessed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "db_is_empty": {
      "main": [
        [
          {
            "node": "get_business_api_cnpja",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "return_items_no_process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_business_api_cnpja": {
      "main": [
        [
          {
            "node": "format_response_cnpja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_response_cnpja": {
      "main": [
        [
          {
            "node": "save_items_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_customer_4c": {
      "main": [
        [
          {
            "node": "add_db_business_uuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_items_db": {
      "main": [
        [
          {
            "node": "save_customer_4c",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_db_business_uuid": {
      "main": [
        [
          {
            "node": "format_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_items": {
      "main": [
        [
          {
            "node": "execute_unprocessed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7037d006-ba73-4e7e-a887-3850eb4bca2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4442d4cbb958ef5079844d78dab3976113d66fc540c833ac10dd7eebbbb8a36"
  },
  "id": "HFMKHtrchfecTP9X",
  "tags": []
}